.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

.progress {
  border-radius: 30px;
  background-color: #f0f0f5;
  height: 50vh;
  width: 140px;
  margin: 20px;
  display: flex;
  padding: 10px;
  align-items: flex-end;
}

.progress-inner {
  border-radius: 30px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
